build/
cmake-build-*/
extern/
plugins/
!plugins/*.clap
!plugins/PeakEater.clap
*.o
*.obj
*.exe
bin/
.cache/
.DS_Store
imgui.ini
hydraw_*.log
*.mp3
*.wav
*.flac
*.ogg
*.aac
*.m4a
*.wma
*.opus
*.aiff

# opencode
.agents/
package-lock.json
package.json
skills-lock.json
.specs/
*.opndaw
